name: Run Unit Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:  

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn
          pip install -r requirements.txt

      - name: Run unit tests
        run: python -m unittest discover
